<section class="card">
  <a href="/product/{{id}}"></a>
  <header>{{name}}</header>
  <div class="card-body">
      <h1>{{product.name}}</h1>
       <img src="/images/{{product.[0].name}}" alt="{{product.[0].description}}">
       <p>{{</p>
  </a>
  </div>
</section>