<section class="card">
  <a href="/product/{{id}}">
    <header>{{name}}</header>
    <div class="card-body">
      <h1 class="h1">{{product.name}}</h1>
      <img src="../../public/images/{{product.name}}" alt="{{product.name}}" />
    </div>
  </a>

</section>