<div class="row">
    <div class="col-auto">
        <h2> Welcome {{name}}! View your cart </h2>
    </div>
</div>
<div>
{{#each products as |product| }}
    <div class="row align-center mb-5">
  <div class="col-md-6">
      <h2>
          <a href="/product/{{id}}">
            {{name}}</h2>  
          </a>
    </div>
  <div class="col-md-6">
      <img src="/images/{{product.name}}.jpg" alt="{{this.description}}" />
    <p>Price:${{price}}</p>
     <button id="deleteBtn" data-id="{{product.id}}" type="button" class="btn btn-primary">
          Remove from cart 🗑
      </button>
</div>
{{/each}}
<div class="row mt-4">
  <div class="col-md-6">
      <button id="checkout" type="button" class="btn btn-primary">
          Checkout Cart
      </button>
      <button type="button" class="btn btn-primary">
         <a href="/">
            Continue Shopping 
         </a> 
      </button>
  </div>
</div>

{{#if products}}
<script src="../js/deleteFromCart/deleteBtn.js"></script>
{{/if}}
    
